*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter,Segoe UI,sans-serif;
    background:#090b13;
    color:white;
    line-height:1.6;
}

.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:rgba(15,18,30,.75);
    backdrop-filter:blur(12px);

    border-bottom:1px solid rgba(255,255,255,.08);
}

.logo{
    font-size:1.2rem;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:28px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:.2s;
}

.nav-links a:hover{
    color:#7c6cff;
}

.hero{
    min-height:85vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;
    padding:40px;
}

.hero-content{
    max-width:900px;
}

.badge{
    display:inline-block;

    background:rgba(124,108,255,.15);
    color:#a89cff;

    border:1px solid rgba(124,108,255,.4);

    padding:8px 16px;
    border-radius:999px;
}

.hero h1{
    margin-top:25px;
    font-size:5rem;
}

.hero p{
    margin-top:25px;
    color:#b8b8c0;
    font-size:1.2rem;
}

.hero-buttons{
    margin-top:40px;

    display:flex;
    justify-content:center;
    gap:15px;
}

.btn-primary{
    background:#6c5cff;

    color:white;
    text-decoration:none;

    padding:14px 30px;
    border-radius:10px;

    transition:.2s;
}

.btn-primary:hover{
    transform:translateY(-2px);
}

.btn-secondary{
    background:#171c2e;

    color:white;
    text-decoration:none;

    padding:14px 30px;
    border-radius:10px;

    border:1px solid rgba(255,255,255,.08);
}

.section{
    padding:100px 8%;
}

.cards{
    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:25px;
}

.card{
    background:#121625;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:30px;

    transition:.2s;
}

.card:hover{
    transform:translateY(-5px);
}

.page-container{
    max-width:1200px;
    margin:auto;

    padding:80px 8%;
}

.page-title{
    font-size:3rem;
    margin-bottom:20px;
}

.page-content{
    color:#c5c5cd;
}

footer{
    text-align:center;

    padding:40px;

    color:#888;
}
